h1 {
    color: green;
}
.heading {
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    font-size: 24px;
}

.line {
    height: 2px;
    width: 50%;
    background-color: black;
}
 
.form {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;  
}
.container {
    width: 100%;
    display: flex;
    gap: 20px;
}
.input {
    gap: 20px;
}